* {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 500px;
    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.6;
}

h1 {
    padding: 10px;
    margin: 20px;
    text-align: center;
}
ul{
    list-style: none;
}

li {
    text-align: center;
    padding: 10px;
}

a {
    text-decoration: none;
    color: lightgray;
    text-align: center;
    background-color: black;
    padding: 10px;

}

.image img {
    border-radius: 11px;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    margin: 10px 0 20px;
    border-bottom: 1px solid rgb(163, 179, 179); 
}

.steps {
    margin: 30px 0;
}

