* {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 800px;
    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    padding: 10px;
    margin: 20px;
    text-align: center;
}

ul {
    list-style: none;
}

li {
    text-align: center;
    padding: 10px;
}

li a {
    text-decoration: none;
    color: black
}