* {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 500px;
    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.6;
}

h1 {
    padding: 10px;
    margin: 20px;
    text-align: center;
}

.links ul {
    list-style: none;
}

.links li {
    text-align: center;
    padding: 10px;
}

.links li a {
    text-decoration: none;
    color: black
}

.image img {
    border-radius: 11px;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    margin: 10px 0 20px;
    border-bottom: 1px solid rgb(163, 179, 179); 
}